<!doctype html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/videojuegos.css">

    <title>Tienda VJ</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">
        <img src="img/logo.png" width="30" height="30" alt="">
        Tienda VJ
    </a>
    <form th:action="@{/search}" class="d-flex" role="search">
        <input autofocus="autofocus" name="q" class="form-control me-2" type="search" th:placeholder="${param.q}"
               aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</nav>

<div class="container mt-4 vj-destacados">
    <div class="row">
        <div class="col col-md-12 text-right mb-4">
            <a th:href="@{/videogame/new}" class="btn btn-outline-success">Nuevo videojuego</a>
        </div>
    </div>
    <div class="row">
        <div th:each="game : ${videogames}" class="col-md-3 mb-4">
            <div class="card">
                <img th:src="${game.urlImage}"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 th:text="${game.name}" class="card-title"></h5>
                    <p>
                        <a th:href="@{/videogameBySupplier(supplierId=${game.supplier.id})}"
                           th:text="${game.supplier.name}" class="badge badge-pill badge-warning">
                        </a>
                    </p>
                    <p>
                        <span th:text="${game.developer.userName}" class="badge rounded-pill text-bg-secondary">Developed by: </span>
                    </p>

                    <p th:text="${game.description}" class="card-text"></p>
                </div>
                <div class="card-footer text-muted">
                    <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>


        </div>


    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>